{% extends 'base.html' %}

{% block title %} Отчет о регистрации {% endblock title %}
{% block caption %} Страница отчета о регистрации {% endblock caption %}

{% block content %}
    <div class="container" style="text-align: center; margin: 30px 0px">
        <h3>Отчет о регистрации</h3>
        <h5>
            Login: {{ login }} <br>
            Pass1: {{ pass1 }} <br>
            Pass2: {{ pass2 }} <br>
            Email: {{ email }} <br>
            Message: {{ message }}
        </h5>
    </div>
{% endblock content %}
