{% extends 'base.html' %}

{% block title %} Главная {% endblock title %}
{% block caption %} Главная страница {% endblock caption %}

{% block content %}
    <div id="logo1" class="jumbotron">
        <div class="container" style="text-align: center">
            <h1 style="color: purple; font-size: 64pt">U N I V E R S I T Y</h1>
            <br>
            <h5 style="color: gold">
                This is a template for a informational website.<br>
                This is a template for a informational website.<br>
                This is a template for a informational website.
            </h5>
            <br><br>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>
    <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Абитуриенту</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Дипломникам</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Аспирантам</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div>
    <style>
        #logo1 {
            background-image: url('../../static/img/logo4.jpg');
            background-size: cover;
        }
    </style>
{% endblock content %}
