<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Univer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home/index">Главная <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/about">Про сайт</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/contact">Контакты</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Подразделения</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="/faculties">Факультеты</a>
                        <a class="dropdown-item" href="#">Кафелры</a>
                        <a class="dropdown-item" href="#">Группы</a>
                        <a class="dropdown-item" href="#">Студенты</a>
                        <a class="dropdown-item" href="#">Сотрудники</a>
                        <a class="dropdown-item" href="#">Проекты</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="" style="margin-right: 50px" >
                        Привет,
                        {% if user.username == '' %}
                            Гость!
                        {% else %}
                            {{ user.username }}
                        {% endif %}
                    </a>
                </li>
                {% if user.username == '' %}
                    <li class="nav-item">
                        <a class="nav-link" href="/account/entry">Вход</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account/reg">Регистрация</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/account/exit">Выход</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account/profile">Профиль</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>